body {
    margin: 0px;
    padding: 0px;
    margin-top: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #DDBEA8 ;
}

li {
    float: left;
    padding: 8px;
    margin: 8px;
    display: block;
    background-color: #DDBEA8;
    color: black;
}

a {
    padding: 8px;
    color: black;
    text-decoration: none;
}

li a:hover {
     background-color: #F3DFC1;
     color: black;
}

#Navigation {
    background-color: #DDBEA8;
    padding: 0px;
}

html {
    background-color: #F9f1f1;
}

#TP {
    background-color: #F3DFC1;
    color: black;
}




textarea, #fname, #lname {
    width: 90%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
  
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.contact {
    border-radius: 0;
    background-color: #f2f2f2;
    padding: 15%;
    margin: 10%;
    padding-top: 10px;
}


.Forum{
    padding: 10px;
    margin: 10px;
}

.subforum{
    margin-top: 20px;
}

.subforum-title{
    background-color: #DDBEA8;
    padding: 5px;
    border-radius: 15px;
    margin: 4px;
}

.subforum-row{
    display: grid;
    grid-template-columns: 60% 15% 25% ;
}

.subforum-column{
    padding: 10px;
    margin: 4px;
    border-radius: 5px;
    background-color: #F3DFC1;
}

.subforum-description *{
    margin-block: 0;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 460px){
    .forum{
        margin: 10px;
        padding: 10px
    }

    .subforum-row{
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-rows: 65% 35%;
    }
}

.search-box{
    margin-top: 20px;
    padding: 40px;
    display: flex;
    justify-content: center;
}

.search-box select{
    padding: 10px;
}

.search-box input{
    padding: 10px;
}

.search-box button{
    padding: 10px;
    background-color: white;
    color: black;
}

.search-box button:hover{
    background-color: black;
    color: white;
    box-shadow: 1px 2px 3px white;
}


/* Index page positioning */


.grid-container {
  display: grid;
  grid-template-columns: 25% auto auto 20%;
  padding: 10px;
  column-gap: 15px;
  row-gap: 10px;
  height: 100%;
}
.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.upcoming {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 3;
	background-color: #F3DFC1;
}
	
.latest {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 4;
	background-color: #F3DFC1;
}
	
.news {
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 4;
	background-color: #F3DFC1;
}

.feed {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
	background-color: #F3DFC1;
}
.filler {
	
	height: 863px;
}


/* about page formatting */


.grid-container1 {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  column-gap: 15px;
  row-gap: 10px;
  height: 100%;
}

.face1 {
	background-color: #F3DFC1;
	grid-column-start: 1;
	grid-column-end: 2;
}

.about1 {
	background-color: #F3DFC1;
	grid-column-start: 2;
	grid-column-end: 4;
}

.face2 {
	background-color: #F3DFC1;
	grid-column-start: 3;
	grid-column-end: 4;
}

.about2 {
	background-color: #F3DFC1;
	grid-column-start: 1;
	grid-column-end: 3;
}